<!DOCTYPE html>
<html>

<head>
    <title>Rate Limitation</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    
    <style>
        body {
            background-color: #121212;
            color: #eee;
        }
        .text {
            font-size: 20px;
        }
        .results {
            list-style: none;
            padding-left: 0;
        }
    </style>
</head>

<body>

    <div id="app">
        <h2>Rate Limitation demo</h3>

        <div class="text">The function we are going to run is something like this:</div>
        <img src="./docs/async-add.png" />
        <div class="text">This basically return a promise resolving after a certain amount of time</div><br><br>
    
        <div class="text">Insert the amount of ms that the function have to wait before resolving:</div>
        <input type="text" v-model="time" /><br><br>
        
        <div class="text">Insert the amount of possible concurrent functions</div>
        <input type="text" v-model="limit" /><br><br>

        <div class="text">Insert how many times to run the function</div>
        <input type="number" v-model="amount" /><br><br>

        <button @click="start">Start</button>
        <ul class="results">
            <li class="text" v-for="result in results" :key="result.time.getTime()">{{ result.time.toLocaleTimeString() }} - {{ result.value }}</li>
        </ul>
    </div>
    
    <script type="module">
        import RateLimiter from "./dist/rate-limitation.esm.js"; 

        const app = new Vue({
            data: {
                time: 1500,
                limit: 2,
                amount: 10,
                results: []
            },
            el: "#app",
            methods: {
                asyncAdd(...args) {
                    // a very long and useful async task
                    return new Promise(resolve => {
                        setTimeout(() => {
                            const result = args.reduce((a, b) => { return a + b; }, 0);
                            resolve(result);
                        }, parseInt(this.time));
                    });
                },

                start() {
                    const amount = parseInt(this.amount);
                    const limit = parseInt(this.limit);
                    this.results.length = 0;

                    this.results.push({time: new Date(), value: "start"});
                    const rateLimiter = new RateLimiter(limit);
                    [...Array(amount)].forEach((nil, i) => {
                        rateLimiter.enqueue(this.asyncAdd, this, ...Array(i).fill(i)).then((result) => {
                            this.results.push({time: new Date(), value: result});
                            if (i+1 === amount) {
                                this.results.push({time: new Date(), value: "end"});
                            }
                        })
                    })
                }
            }
        });
    </script>
</body>

</html>